 .test {
    background: linear-gradient(135deg, #1e3c72, #2a5298); 

   
}

.card {
    background: linear-gradient(135deg, #fdfdfd, #f0f0f0); 
    opacity: 96%;
    border: solid 2px #000000;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; 
}

.card:hover {
    transform: translateY(-8px); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card .card-title {
    font-weight: bold;
    color: #2a5298; 
    margin-bottom: 0.5rem;
    text-align: center;
}

.card .card-body {
    color: #333333; 
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */ 

b

.scrolling-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    color: white;
    padding-top: 0px;
    padding-right: 50px; /* Space between repetitions */
    animation: scroll-left 23s linear infinite;
    font-size: 10px;
    white-space: nowrap; /* Prevents text wrapping */
    min-width: 100%; /* Ensures text stays in one line */
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%); /* Start at the beginning */
    }
    100% {
        transform: translateX(-100%); /* Move completely to the left */
    }
}