@page "/ONTO"
@using _1.Components.Layout
@using _1.Components.Pages
@inherits LayoutComponentBase
@rendermode InteractiveServer

<div class = "atas">
<NavBar />
</div>
<div class="container-fluid test" >
    <div class="row g-2 mb-2">
        <div class="col-6">
            <div class="card ">
                <div class="card-body p-0">
                    <h3 class="card-title p-0">ONTO's Smart Torque</h3>
                    <OntoBar />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ">
                <div class="card-body p-0">
                    <h3 class="card-title p-0">ONTO's Smart Torque Output</h3>
                    
                    <OntoLine />
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-6">
            <div class="card ">
                <div class="card-body p-0">
                    <h3 class="card-title p-0">ONTO's Smart Torque Brand</h3>
                    <OntoPie />
                </div>
            </div>
        </div>
        <div class="col-6">
        <div class=" card bg-white ps-1">
            <h5 class="card-title p-0">ONTO's Smart Torque Model</h5>
            <OntoTable />
        </div>
    </div>
    </div>
</div>



<style>

  .atas{
        padding-bottom: 40px;
    }
</style>



@code {
    
}
