@page "/test"
@using _1.Components.Workcell
@using _1.Components.Layout
@using _1.Components.Pages
@inject NavigationManager NavManager
@inherits LayoutComponentBase
@rendermode InteractiveServer

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <Table2 DataKey="Overall" RowClicked="OnRowClicked" />
        </div>
        <div class="col-md-6">
            <Line @key="@ChildSelectedWorkcell" SelectedWorkcell="@ChildSelectedWorkcell" />
        </div>
    </div>
</div>

@code {
    private string? ChildSelectedWorkcell = null;

    private void OnRowClicked(string workcellName)
    {
        ChildSelectedWorkcell = workcellName; // Update child dynamically
        Console.WriteLine($"Row clicked: {workcellName}");
    }
}
