@page "/TestTable"
@using _1.Components.Layout
@using _1.Components.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@rendermode InteractiveServer

<div class="container-fluid atas">
    <NavBar />
</div>
<div class="container-fluid test p-4">
    <div class="row g-2 mb-2 h-100 d-flex flex-column " >
        <div class="col-12 h-100">
            <div id="card-plant" class="card" style="height: 100%;">
                <div class="card-body p-0">
                    <h3 class="card-title p-0">Overall Smart Torque By Plant</h3>
                    <MasterTableA />
                </div>
            </div>
        </div>
        
    </div>
   
</div>


@code {
 

}

<style>
    .bg-white {
        background-color: white !important;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .bg-white:hover {
        transform: translateY(-8px);
        /* Slight lift effect */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    .atas {
        padding-bottom: 50px;
    }

    #card-plant,
    #card-workcell,
    #card-brand,
    #card-model {
        height: calc(50vh - 38px);
        /* Adjust based on your layout needs */
        overflow: hidden;
    }

    #card-plant .card-body,
    #card-workcell .card-body,
    #card-brand .card-body,
    #card-model {
        padding: 0;
    }
    .dynamic-height {
    height: calc(50vh - 38px);
}


.sendiri{
    /* Your CSS styles here */
    height: 90%;
    
}

</style>
