@inherits LayoutComponentBase
@using BlazorBootstrap

<div class="container-fluid min-vh-100 d-flex flex-column">
   

    <main class="flex-grow-1">
        <!-- This will render the routed page's content -->
        @Body
    </main>

    
</div>